    <div class="sidebar">
	    <ul>
    		<h2>PI: <a href="{{ SITEURL }}/people/brunner.html" 
    				    title="Brunner Personal Page">Robert J. Brunner </a></h2>
	    	<p>Associate Professor of Astronomy <BR/>
		    Research Scientist, NCSA <BR/>
    		Center Affiliate, IACAT <BR/>
    		Faculty Affiliate, CSE <BR/>
    		University of Illinois</p>
    	    <h2>Pages</h2>
                {% for title, link in LCDM_PAGES %}
			        <li><a href="{{ link }}">
			        {{ title }}
			        </a></li>
                {% endfor %}
    	</ul>

    	<hr/><h2>Professional</h2>
    	<ul>
                {% for title, link in SOCIAL %}
			        <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
        </ul>
 	
    </div> <!-- sidebar -->