<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="{{ DEFAULT_LANG }}">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% block head %}
        <title>
        {% block title %}
        {{ SITENAME }}:
        {# We print out the page or article title as appropriate #}
        {% if page is defined %} 
            {{ page.title }} 
        {% else %} 
            {% if article is defined %} 
                {{ article.title }} 
            {% else %}
        {# Pages that do not exist, but are generated, have no explicit title attribute #}
                {% if mytitle %}{{ mytitle }} {% endif %} 
            {% endif %} {# else if #}
        {% endif %} {# if #}
        {% endblock title %}
        </title>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css" media="screen" />

        {# The following is required to enable Latex in either an article or a page #}
        {% if (article and article.latex) or (page and page.latex) %}
            {% include 'common/latex.html' %}
        {% endif %}
        {% endblock head %}

</head>

{% include 'common/analytics.html' %}

{# Now standard LCDM page #}
<body class="page">

    <header id="banner" class="body">
        <a href="{{ SITEURL }}">
            <img class='alignleft' width='740px' 
                src="{{ SITEURL }}/theme/images/LCDM-logo.png" alt="LCDM" />
        </a>
    </header><!-- /#banner -->
	<div class="content">
        {% block content %}
        
{# Note super() should be called after the child block contents are output. #}

{# 

We currently support two global items here:
1) Inserting an "under construction" html code.
2) Including comments.

Both of these are enabled on a per page basis by defining the appropriate metadata:

Construction: True
Comments: True

#}

{# First handle under construction. Note only pages can be under
construction, articles are assumed done when posted! #}

{% if page and page.construction %}
    {% include "common/construct.html" %}
{% endif %}

{# Second include Discus comment code (so they are at bottom of page).
We allow either pages or articles to have comments #}

{% if (page and page.comments) or (article and article.comments) %}
    {% include "common/comments.html" %}
{% endif %}

        {% endblock %}
	</div><!-- content -->

{% include 'common/sidebar.html' %}

{% include 'common/footer.html' %}

</body>

</html>
