{% extends "lcdmbase.html" %}

{% block content %}

<h2>{{ page.title }}</h2>
{{ page.content }}     

{% for mypage in pages|sort(reverse=True) if mypage.type == 'presentation' %}

{# We need to initialize the HTML list #}

{% if loop.first %}
<hr />
        <ul>
{% endif %}

{# Now we want to output summary information for each page #}
            <li>
                <h4><a href="{{ SITEURL }}/{{ mypage.purl }}" rel="bookmark"
                    title="Permalink to {{ mypage.title|striptags }}">
                {{ mypage.title }}</a></h4>
                
                <strong>Meeting</strong>: {{ mypage.meeting }} <br />
                
                <strong>Location</strong>: {{mypage.location }} <br />
                
                {{ mypage.summary }}
            </li>
            
{# Now close HTML list #}

{% if loop.last %}
        </ul>
{% endif %}

{% endfor %}

{{ super() }}

{% endblock content %}

