{% extends "lcdmbase.html" %}
{% set current = 'research' %}
{% block content %}

<h2>{{ page.title }}</h2>
{{ page.content }}     

{% for mypage in pages|sort(reverse=True) if mypage.type == 'project' %}

{# We need to initialize the HTML list #}

{% if loop.first %}
<hr />
        <ul>
{% endif %}

{# Now we want to output summary information for each page #}
            <li>
                <h4><a href="{{ SITEURL }}/{{ mypage.save_as }}" rel="bookmark"
                    title="Permalink to {{ mypage.title|striptags }}">
                {{ mypage.title }}</a></h4>
                {{ mypage.summary }}
            </li>
            
{# Now close HTML list #}

{% if loop.last %}
        </ul>
{% endif %}

{% endfor %}

{{ super() }}

{% endblock content %}

