{% set mytitle = "Presentations" %}
{% extends "base.html" %}

{% block content %}

<h2>LCDM Presentations</h2>

The following presentations are made publicly available by members of
the LCDM.

{% for mypage in pages|sort(attribute='date', reverse=True) if mypage.type == 'presentation' %}

{# We need to initialize the HTML list #}

{% if loop.first %}
<hr />
        <ul>
{% endif %}

{# Now we want to output summary information for each page #}

{# Note, right now we do not link to the separate pages for each
individual presentation. We could, and include the small PNG of poster
in that page. #}

            <li>
                <h4><a href="{{ SITEURL }}/{{ mypage.purl }}" rel="bookmark"
                    title="Permalink to {{ mypage.title|striptags }}">
                {{ mypage.title }}</a></h4>
                
                <strong>Meeting</strong>: {{ mypage.meeting }} <br />
                
                <strong>Location</strong>: {{mypage.location }} <br />
                
                {{ mypage.summary }}
            </li>
            
{# Now close HTML list #}

{% if loop.last %}
        </ul>
{% endif %}

{% endfor %}

{{ super() }}

{% endblock content %}
